body, html{
  height:100%;

}
body{
  margin: 0px;
  background-image:url("./lib/images/backgroundImage.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position: fixed;
  float: left;
  height: 125px;
  width: 100px;
}

/* .dancer.lineup{
  position:relative;
  top: 70vh;
} */
.dancer.animated{
  float: left;
  animation-iteration-count: infinite;
}
.dancers_container {
  width: 100%;
  height: 300px;
  bottom: 0px;
  position: absolute;
}
/* .dancer.animated.wobble, .dancer.animated.heartBeat {
  animation-iteration-count: infinite;
} */

